:root {
  --primary-color: pink;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.square {
  width: 50px;
  height: 50px;
  background: var(--primary-color);
}

@media only screen and (max-width: 1200px) {
  :root {
    --primary-color: lightblue;
  }
}
